@import url("https://fonts.googleapis.com/css?family=Roboto:300,900|Source+Sans+Pro:300,400");
@import "tailwindcss";

@font-face {
  font-family: "retro";
  src: url("/font/Pixel-Miners.otf") format("opentype");
}

@font-face {
  font-family: "retro1";
  src: url("/font/dpcomic.ttf") format("truetype");
}

html,
body {
  font-family: "retro", monospace;
}

html {
  /* Added scroll-behavior for smooth scrolling */
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

/* For pixel art style */
.font-retro {
  font-family: "retro", monospace;
}

/* For comic style */
.font-comic {
  font-family: "retro1", sans-serif;
}

/* For clean modern look */
.font-roboto {
  font-family: "Roboto", sans-serif;
}
